name: Publish Package to npmjs
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node

      - name: Install dependencies
        run: pnpm i --frozen-lockfile
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm build
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm publish --access public --no-git-checks
        if: ${{ steps.release.outputs.release_created }}
